%title {
	font-family: $font-display;
	font-weight: 400;
	text-transform: uppercase;
}

.title--2 {
	font-size: 1.9rem;
	color: var(--color-primary);
}


// .title {
// 	margin: 0;

// 	font-weight: 700;
// 	text-transform: uppercase;
// }

// .title-2 {
// 	display: inline-block;

// 	margin: 0 auto;

// 	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
// 	background-clip: text;

// 	font-size: 3.5rem;
// 	font-weight: 700;
// 	letter-spacing: 0.2rem;
// 	color: transparent;

// 	transition: all 0.2s;

// 	&:hover {
// 		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
// 		transform: skewY(2deg) skewX(15deg) scale(1.1);
// 	}

// 	@include respond(tab-port) {
// 		font-size: 3rem;
// 	}

// 	@include respond(phone) {
// 		font-size: 2.5rem;
// 	}
// }