@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url(normalize.css);
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f7f4f1;
  text-transform: uppercase;
  background-color: #000000;
  background-image: url("../../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}

button {
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 10px 35px;
  font: inherit;
  color: #fff;
  background-color: #000;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.header {
  padding: 134px 0px 75px 0px;
}
.header__logo {
  max-width: 371px;
  max-height: 155px;
  margin: 0 auto 75px;
}
.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-size: 16px;
}
.header__nav:before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
}
.nav__row {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  max-width: 980px;
  margin: 0 auto;
}
.nav__menu {
  display: flex;
}
.nav__item > a {
  display: block;
  padding: 25px 20px;
  white-space: nowrap;
}
.nav__login {
  max-width: 140px;
}
.nav__login > a {
  padding: 27px 20px 27px 50px;
  position: relative;
}
.nav__login > a:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 21px;
  background: url("../../img/icons/login.svg") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.nav__login > a:hover, .nav__login > a:focus, .nav__item > a:hover, .nav__item > a:focus {
  background-color: #242424;
}
.nav__login > a:hover::before, .nav__login > a:focus::before, .nav__login > a:active::before {
  opacity: 1;
}

.features__list {
  display: flex;
  justify-content: space-between;
}
.features__title {
  position: relative;
  margin: 0px 0px 70px 0px;
}
.features__description {
  text-align: center;
}
.features__item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__item > h3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -40px;
  margin: 0px 0px 0px -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
}

.main {
  color: #000000;
}
.main__column {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 65px 0px;
}
.main__row {
  background-color: #f8f5f2;
  background-image: url("../../img/index/stick.png"), url("../../img/texture.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  padding: 55px 80px 50px 80px;
  margin: 0px 0px 36px 0px;
  display: flex;
  justify-content: space-between;
}
.main__row:last-child {
  margin: 0px;
}

.news {
  max-width: 380px;
}
.news__list {
  margin: 0px 0px 30px 0px;
}
.news__item {
  margin: 0px 0px 20px 0px;
}
.news__item > time > span {
  text-transform: lowercase;
}
.gallery {
  max-width: 380px;
}
.gallery__content {
  margin: 0px 0px 30px 0px;
  border: 7px solid #fff;
}
.gallery__image {
  height: 164px;
}
.gallery__switch {
  display: flex;
  justify-content: space-between;
}
.gallery__button {
  flex: 1 0 auto;
  margin: 0px 20px 0px 0px;
}
.gallery__button:last-child {
  margin: 0px;
}

.information {
  max-width: 380px;
}
.information__text {
  margin: 0px 0px 20px 0px;
}
.information__address {
  margin: 0px 0px 20px 0px;
}
.information__button {
  margin: 0px 20px 0px 0px;
}

.appointment {
  max-width: 380px;
  padding: 0px 0px 0px 90px;
}
.appointment__info {
  margin: 0px 0px 10px 0px;
}
.form {
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form__item {
  width: 140px;
  margin: 0px 0px 10px 0px;
}
.form__data {
  display: block;
  margin: 0px 0px 9px 15px;
}
.form__field {
  width: 140px;
  border: 2px solid #000;
  background-color: transparent;
  font: inherit;
  padding: 8px 0px 7px 15px;
}
.form__button {
  margin: 10px 0px 0px 0px;
  width: 100%;
}

.footer {
  padding: 60px 0px 35px 0px;
  background-color: #1f1f1f;
}
.footer__container {
  display: flex;
}
.footer__info {
  margin: 0px 100px 0px 0px;
  white-space: nowrap;
}
.footer__social {
  margin: 0px 250px 0px 0px;
  text-align: center;
}
.footer__social > span {
  display: block;
  margin: 0px 0px 15px 0px;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 141px;
}
.footer__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #000;
}
.footer__link:hover, .footer__link:focus, .footer__link:active {
  background-color: #fff;
}
.footer__link:hover path, .footer__link:focus path, .footer__link:active path {
  fill: #000;
}
.footer__developer {
  text-align: center;
  white-space: nowrap;
}
.footer__developer > span {
  display: block;
  margin: 0px 0px 15px 0px;
}
.popup {
  margin: 0px 0px 50px 50px;
}
.popup__sign-in {
  padding: 50px 80px 58px;
  width: 460px;
  height: 385px;
  background-color: #f8f5f2;
  color: #000;
  background-image: url("../../img/texture.jpg");
  box-shadow: 0px 30px 50px 0px rgba(0, 1, 1, 0.75);
}
.sign-in__title {
  margin: 0px 0px 25px 0px;
}
.sign-in__invite {
  margin: 0px 0px 10px 0px;
}
.sign-in__input {
  width: 100%;
}

.input__data {
  margin: 0px 0px 10px 0px;
}
.input__field {
  width: 100%;
  padding: 8px 0px 8px 14px;
  border: 2px solid #000;
  font: inherit;
}
.input__function {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.input__forget {
  color: #000;
  text-decoration: underline;
}
.input__button {
  width: 100%;
}

.input input::-webkit-input-placeholder {
  color: #000;
}

.popup__map {
  max-width: 780px;
  max-height: 574px;
  padding: 7px;
  background-color: #fff;
  box-shadow: 0px 30px 50px 0px rgba(0, 1, 1, 0.75);
}
.map__image {
  max-width: 766px;
  max-height: 560px;
}