@charset "UTF-8";
.header__column {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__func {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__language > a {
  margin: 0px 13px 0px 0px;
  font-family: "Bebas Neue";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
}
.header__language > a:last-child {
  margin: 0px 0px;
}
.header__order > a {
  font-size: 15px;
  font-family: "AkzidenzGroteskPro";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
.header__nav {
  display: flex;
  flex-wrap: nowrap;
  margin: 35px 0px 0px 0px;
}
.header__nav > a {
  margin: 0px 40px 0px 0px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  font-family: "AkzidenzGroteskPro";
  letter-spacing: 1.5px;
}
.header__nav > a:last-child {
  margin: 0px 0px 0px 0px;
}
.header__nav > a:nth-child(3) {
  margin: 0px 164px 0px 0px;
}
.header__nav > a:nth-child(4) {
  margin: 0px 40px 0px 164px;
}
.header__logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -55%);
  justify-content: center;
}
.header__logo:before {
  content: "NYCS";
  font-family: "Bebas Neue";
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 9px;
}
.header__logo:after {
  content: "Catering";
  font-family: "Bebas Neue";
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 9px;
}

/*
	Стиль иконки бургера
	.icon-nav{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/